<div class="ropa-container">
    <div class="ropa-form" [formGroup]="formRopa">

        <h1>{{title}}</h1>

        <mat-form-field>
            <mat-label>Talla</mat-label>
            <input matInput type="text" placeholder="Talla" formControlName="talla"/>
            <mat-error *ngIf="formRopa.get('talla')?.errors?.required">
                La talla es requerida
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Color</mat-label>
            <input matInput type="text" placeholder="Color" formControlName="color">
            <mat-error *ngIf="formRopa.get('color')?.errors?.required">
                El color es requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Categoria</mat-label>
            <input matInput type="text" placeholder="Categoria" formControlName="categoria">
            <mat-error *ngIf="formRopa.get('categoria')?.errors?.required">
                La categoria es requerida
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="save()" [disabled]="formRopa.invalid || disableButton">Guardar</button>
    </div>
</div>
